<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start space">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          
        </a>
  
        <ul class="nav col-12 col-lg-auto my-2 justify-content-start  my-md-0 text-small mr-3 " >
          <li>
            <a href="#" class="nav-link text-secondary">
              <svg class="d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people"></use></svg>
              Customers
            </a>
          </li>
        </ul>
  <!--
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
  -->
        <div class="text-end">

          <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </header>
  